.input-box{
    position: relative;
  }
  
  .input-box i {
    position: absolute;
    right: 13px;
    top:12px;
    color:#ced4da;
  
  }
  @media only screen and(max-width:1000px){
    .navbar-toggler-icon{
        background-image:none !important;
    }
}